<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BetterCallMe </title>
</head>
<body>
    <h1>Find Lawyer</h1>
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Find Lawyer">
        <input type="submit" value="Find">
    </form>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
</body>



</html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Better Call Outlaw</title>
    <link rel="stylesheet" href="styles/style.css" />

  </head>
  <body>
   
    <header class="header">
      <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />
      </a>
      <nav class="navbar">
        <a class='active' href='/'>Home</a>
        <a href='/login'>Login & Sign Up</a>
        <a href='/menu'>Menu</a>
        <a href='/products'>E-law</a>
        <a href='/review'>Review</a>
        <a href='/contact'>Contact</a>
        <a href='/blogs'>Profile</a>
      </nav>

      <div class="buttons">
        <button id="search-btn">
          <i class="fas fa-search"></i>
        </button>
        <button id="cart-btn">
          <i class="fa-solid fa-scale-balanced "></i>
        </button>
        <button id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <div class="search-form">
        <input
          type="text"
          class="search-input"
          id="search-box"
          placeholder="search here"
        />
        <i class="fas fa-search"></i>
      </div>

      <div class="cart-items-container">
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
          <div class="content">
            <h3>Mr.Mezahir Memishov</h3>
            <div class="price">Contact Him</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
          <div class="content">
            <h3>Mr.Ismayil Ismayilov</h3>
            <div class="price">Contact Him</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
          <div class="content">
            <h3>Aghakerim Abbasov</h3>
            <div class="price">Contact Him-</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
          <div class="content">
            <h3>Mr.Ravan Babayev</h3>
            <div class="price">Contact Him</div>
          </div>
        </div>
        <a href="#" class="btn">checkout now</a>
      </div>
    </header>
    
    <section class="home" id="home">
      <div class="content">
        <h3>DO YOU NEED LAWYER? BETTER CALL US</h3>
        <p>
          This Platform Very Great For Where You Can Ask Us All The Questions You Have About The Law In Your Mind
        </p>
        <a href="#" class="btn">Find a best lawyer for YOU</a>
      </div>
    </section>
    
    <section class="menu" id="menu">
      <h1 class="heading">our <span>lawyers</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="box-head">
            <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
            <span class="menu-category">lawyer</span>
            <h3>Mr.Mezahir Memishov  </h3>
            <div class="price">Criminal and Penal Lawyer <span>BUSY</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">Contact Him</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
            <span class="menu-category">Lawyer</span>
            <h3>Mr.Ismayil Ismayilov</h3>
            <div class="price">Real Estate Law<span>BUSY</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">Contact Him</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
            <span class="menu-category">Lawyer</span>
            <h3> Aghakerim Abbasov</h3>
            <div class="price">Family and Divorce Law <span> BUSY</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">Contact Him</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="about" />
            <span class="menu-category">Lawyer</span>
            <h3>Ravan Babayev</h3>
            <div class="price">Labor Law <span>BUSY</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">Contact Him</a>
          </div>
        </div>
      </div>
    </section>
   
    <section class="products" id="products">
      <h1 class="heading">our wo<span>rk areas</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="box-head">
            <span class="title">Law Category</span>
            <a href="#" class="name">inheritance law</a>
          </div>
          <div class="image">
            <img src="{{ url_for('static', filename='images/product-1.png') }}" alt="about" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">Lawyers</b>
              <span class="amount">106 People</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <span class="title">Law Category</span>
            <a href="#" class="name">Enforcement law</a>
          </div>
          <div class="image">
            <img src="{{ url_for('static', filename='images/product-1.png') }}" alt="about" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">Lawyers</b>
              <span class="amount">54 People</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="box dark-bg">
          <div class="box-head">
            <span class="title">Law Category</span>
            <a href="#" class="name">Commercial Law</a>
          </div>
          <div class="image">
            <img src="{{ url_for('static', filename='images/dark-product.jpg') }}" alt="about" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">Lawyers</b>
              <span class="amount">77 People</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="about" id="about">
      <h1 class="heading">about <span>us</span></h1>
      <div class="row">
        <div class="image">
          <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="about" />
        </div>
        <div class="content">
          <h3>How do you prove that justice is the same for everyone?</h3>
          <p>
            Our team's strong and intelligent skills and hard-working honorable opinions can save you from any legal court.
          </p>
          <p>
            Among the lawyers working with us, there are professionals who have worked as lawyers for fifty years
          </p>
          <p>
            Be sure that our lawyers are extremely reliable and can defend you in all matters
          </p>
          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </section>
    
    <section class="review" id="review">
      <h1 class="heading">customer's <span>review</span></h1>
      <div class="box-container">
        <div class="box">
          <img src="{{ url_for('static', filename='images/quote.png') }}" alt="quote" />
          <p>
            Thanks to the permission of the lawyers, he helped me a lot in solving a legal issue. It was great for me to work with you
          </p>
           
          <h3>Jennifer Becker</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/quote.png') }}" alt="quote" />
          <p>
            LThanks to the permission of the lawyers, he helped me a lot in solving a legal issue. It was great for me to work with you
          </p>
          <img src="images/avatar-2.png" alt="avatar" class="user" />
          <h3>John Doe</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
        <div class="box">
          <img src="{{ url_for('static', filename='images/quote.png') }}" alt="quote" />
          <p>
            Thanks to the permission of the lawyers, he helped me a lot in solving a legal issue. It was great for me to work with you
          </p>
          <img src="images/avatar-3.png" alt="avatar" class="user" />
          <h3>Lisa Arambula</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
    </section>
   
    <section class="blogs" id="blogs">
      <h1 class="heading">our <span>blog</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="{{ url_for('static', filename='images/blog-1.jpg') }}" alt="blog" />
          </div>
          <div class="content">
            <a href="#" class="title">how to make burgers?</a>
            <span>by admin / 10st may, 2020</span>
            <p>
              Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit.
              Temporibus, Laudantium!
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="{{ url_for('static', filename='images/blog-2.jpg') }}" alt="blog" />
          </div>
          <div class="content">
            <a href="#" class="title">how to make stay in the all rights?</a>
            <span>by</span>
            <p>
              Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit.
              Temporibus, Laudantium!
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="{{ url_for('static', filename='images/blog-3.jpg') }}" alt="blog" />
          </div>
          <div class="content">
            <a href="#" class="title"></a>
            <span>by</span>
            <p>
              Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit.
              Temporibus, Laudantium!
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>
   
    <section class="footer">
      <div class="search">
        <input type="text" class="search-input" placeholder="Search" />
        <button class="btn btn-primary">search</button>
      </div>
      <div class="share">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
      </div>

      <div class="links">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Products</a>
        <a href="#">Review</a>
        <a href="#">Contact</a>
        <a href="#">Blogs</a>
      </div>

      <div class="credit">
  
      </div>
    </section>
    
    

    
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
